{% extends 'main.html' %}

{% block content %}
<div class="login-form-container">
    <h2>Login</h2>

    {% if wrong_credentials %}
    <h2 style="color: red;">Wrong credentials!! Please try again.</h2>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}

        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">                         
        </div>

        <div class="login-submit">
            <input type="submit" value="Login" class="login-btn">
        </div>
        
    </form>

    <p class="register_redirect">
        Don't have an account? <a href="{% url 'register_page' %}">Register here</a>
    </p>
</div>


{% endblock content %}
