{% extends 'main.html' %}

{% block content %}
    
    <div class="profile-container">



        <div class="profile-box">
            <h2 class="profile-title">Profile 👤</h2>
            <p><strong>Username:</strong> {{ request.user.username }}</p>
            <p><strong>First Name:</strong> {{ request.user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ request.user.last_name }}</p>
            <p><strong>Email:</strong> {{ request.user.email }}</p>
        </div>
        
        <!-- <h2>{{request.user.password}}</h2> -->
          <!-- <p><strong>Authenticated:</strong> {{ request.user.is_authenticated }}</p> -->

        <div class="update-links">
            <a href="{% url 'update_profile' %}">Update Profile</a>
            <a href="{% url 'change_password' %}">Change Password</a>
            <a href="{% url 'logout_page' %}">Logout</a>
        </div>

    </div>
    
{% endblock content %}
