
{% extends 'main.html' %}

{% block content %}
<div class="update-form-container">
    <h2>Update Profile</h2>

    <form method="POST">
        {% csrf_token %}
        <div class="form-grid-update-profile">
            <div class="form-group-update-profile">
                <label for="firstname">Firstname</label>
                 <input type="text" name="firstname" value="{{user_record.first_name}}">
            </div>

            <div class="form-group-update-profile">
                <label for="lastname">Lastname</label>
                <input type="text" name="lastname" value="{{user_record.last_name}}">
            </div>

            <div class="form-group-update-profile">
                <label for="email">Email</label>
               <input type="email" name="email" value="{{user_record.email}}" >
            </div>

            <div class="form-group-update-profile">
                <label for="username">Username</label>
                <input type="text" name="username" value="{{user_record.username}}">
            </div>

        </div>

        <div class="btn-container-update-profile">
            <button type="submit" class="btn-register-update-profile">Update</button>
        </div>
        
    </form>

</div>
{% endblock content %}
